node_modules/
dist/
site/public/
site/resources/
site/.hugo_build.lock
site/data/webpack.json
/npm-debug.log
yarn-error.log
.netlify/
.hugo_build.lock

cypress/videos
cypress/screenshots

install-state.gz
